.social-login 
  button.social-login--github 
    i.fab.fa-github   Continue with Github 
  button.social-login--facebook
    i.fab.fa-facebook
    |  Continue with FaceBook 
    //- |를 텍스트 앞에 추가하면 태그가 아니라 텍스트로 인식하게 해준다.
