//- pug는 <>태그 대신 들여쓰기로 처리한다
doctype html
html
  head
    title | Wetube
  body 
    header
      h1 WeTube
    main
      block content
      //- block안에 다른 pug들이 들어갈 것이다
    footer 
      span &copy; WeTube