extends layouts/main 

block content 
  .form-container 
    form(action=routes.editVideo(video.id), method="post")
      //- action에서 더이상 url을 받아오는 것이 아니라 id값을 받아온다
      input(type="text", placeholder="Title", name="title", value=video.title)
      textarea(name="description", placeholder="Description")=video.description
      input(type="submit", value="Update Video")
    a.form-container__link(href=routes.deleteVideo(video.id)) 
    button.delete Delete Video